{% extends "visual/analysis.html" %}
{% block display %}

<!-- 数据处理时的loading遮罩 -->
<!-- <div class="ui active dimmer" id="dimmer">
    <div class="ui text" style="color: #FFFFFF">请使用左侧筛选框选择两个维度生成绘图(分析维度)<br>选择若干个维度在图中填充辅助信息(辅助维度)</div>
</div> -->

<!-- 创建2个Semantic UI tab，根据鼠标点击切换，以保证页面干净清爽 -->

<div class="ui pointing secondary menu">
    <a class="item active" data-tab="total"><i class="circle icon"></i>Summary</a>
    <a class="item" data-tab="competition"><i class="circle icon"></i>Analysis</a>
</div>

<div class="ui tab segment active" data-tab="total">

    <h3 class="ui header">
        <div class="content">
            Value 1
            <div class="sub header">KPIs, containing mean, std, median of input dataframe</div>
        </div>
    </h3>

    <div class="ui divider"></div>

    <!-- Semantic UI的statistic类能呈现“醒目大数字”的效果 -->
    <div class="ui small three statistics">

        <div class="statistic">
            <div class="value" id="df_mean">
                {{ df_mean }}
            </div>
            <div class="label" id="df_mean">
                df_mean
            </div>
        </div>

        <div class="statistic" id="df_std">
            <div class="value" id="df_std">
                {{ df_std }}
            </div>
            <div class="label">
                df_std
            </div>
        </div>

        <div class="statistic" id="df_median">
            <div class="value" id="df_median">
                {{ df_median }}
            </div>
            <div class="label">
                df_median
            </div>
        </div>

    </div>

</div>


<div class="ui tab segment" data-tab="competition">

    <h3 class="ui header">
        <div class="content">
            DataFrame (dataTables)
            <div class="sub header">数据表格</div>
        </div>
    </h3>

    <div class="ui divider"></div>

    <div class="ui container" id='data' style="width: 100%; overflow-x: scroll; overflow-y: hidden;">
        <!-- Django渲染html代码时需要加入|safe，保证html不会被自动转义 -->
        {{ data|safe }}
    </div>

</div>

<!-- 下方js为保证Semantic UI tab类工作 -->
<script>
    $('.pointing.secondary.menu .item').tab();
</script>

{% endblock %}