{% extends "visual/analysis.html" %}
{% block display %}
{% load tags %}
<!-- 创建2个Semantic UI tab，根据鼠标点击切换，以保证页面干净清爽 -->

<div class="ui pointing secondary menu">
    <a class="item active" data-tab="Summary"><i class="circle icon"></i>Summary</a>
    <a class="item" data-tab="Analysis"><i class="trophy icon"></i>Analysis</a>
    <a class="item" data-tab="Feature"><i class="trophy icon"></i>Feature</a>
    <a class="item" data-tab="show_all"><i class="circle icon"></i>show_all</a>
    <a class="item" data-tab="plot"><i class="circle icon"></i>plot</a>
</div>

<div class="ui tab segment active" data-tab="Summary">
    <h3 class="ui header">
        <div class="content">
            Value 1
            <div class="sub header">KPIs, containing mean, std, median of input dataframe</div>
        </div>
    </h3>
    <div class="ui divider"></div>
    <!-- Semantic UI的statistic类能呈现“醒目大数字”的效果 -->
    <div class="ui small three statistics">
        <div class="statistic">
            <div class="value" id="value_size">
                {{ df_mean|percentage:1 }}
            </div>
            <div class="label" id="label_size_unit">
                df_mean
            </div>
        </div>
        <div class="statistic" id="div_gr">
            <div class="value" id="value_gr">
                {{ df_std|percentage:1 }}
            </div>
            <div class="label">
                df_std
            </div>
        </div>
        <div class="statistic" id="div_cagr">
            <div class="value" id="value_cagr">
                {{ df_median|percentage:1 }}
            </div>
            <div class="label">
                df_median
            </div>
        </div>
    </div>
</div>

<div class="ui tab segment" data-tab="Analysis">
    <h3 class="ui header">
        <div class="content">
            DataFrame (dataTables)
            <div class="sub header">数据表格</div>
        </div>
    </h3>
    <div class="ui divider"></div>
    <div class="ui container" id='data' style="width: 100%; overflow-x: scroll; overflow-y: hidden;">
        <!-- Django渲染html代码时需要加入|safe，保证html不会被自动转义 -->
        {{ data|safe }}
    </div>
</div>

<div class="ui tab segment" data-tab="Feature">
    <h3 class="ui header">
        <div class="content">
            Selected Feature (ALL)
            <div class="sub header">所选特征</div>
        </div>
    </h3>
    <div class="ui divider"></div>
    <div class="ui container" id='data_' style="width: 100%; overflow-x: scroll; overflow-y: hidden;">
        <!-- Django渲染html代码时需要加入|safe，保证html不会被自动转义 -->
        {{ data_|safe }}
    </div>
</div>

<div class="ui tab segment" data-tab="show_all">
    <h3 class="ui header">
        <div class="content">
            Raw Data
            <div class="sub header">数据展示</div>
        </div>
    </h3>
    <div class="ui divider"></div>
    <div class="ui container" id='alldata' style="width: 100%; overflow-x: scroll; overflow-y: hidden;">
        {{ alldata|safe }}
    </div>
</div>

<div class="ui tab segment" data-tab="plot">
    <h3 class="ui header">
        <div class="content">
            定义市场总量趋势
            <div class="sub header">柱状折线复合图</div>
        </div>
    </h3>
    <div class="ui divider"></div>
    <div class="ui container">
<!--        <div id="bar_total_trend" style="width:1000px; height:600px;"></div>-->
        <div id="scatter_pic" style="width:1000px; height:600px;"></div>

    </div>
</div>

<!-- 下方js为保证Semantic UI tab类工作 -->
<script>
    $('.pointing.secondary.menu .item').tab();

</script>
{% endblock %}