<div class="ui container">
    <div class="ui form">
        <form action="" method="post">
            <!-- 在Django所有的 POST 表单元素时，需要加上下方的csrf_token tag，主要是安全方面的机制，本例后续使用AJAX方法，这里的POST class和token都不生效 -->
            {% csrf_token %}
            <h3 class="ui header" id="analysis">分析维度</h3>
            <div class="field">
                <div class="fields">
                    <div class="sixteen wide field">
                        <select name="DIMENSION_select" id="DIMENSION_select_0" class="ui fluid search dropdown">
                            {% for key, value in mselect_dict.items %}
                                <!-- 此处判断为真即为默认显示 -->
                                {% if value.select == 'feature_5' %}
                                    <option value="{{ value.select }}" selected>{{ key }}</option>
                                {% else %}
                                    <option value="{{ value.select }}">{{ key }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
<!--                <div class="fields">-->
<!--                    <div class="eight wide field">-->
<!--                        <select name="UNIT_select" id="UNIT_select_0" class="ui fluid search dropdown">-->
<!--                            <option value="Value" selected>请选择一个特征(必选)</option>-->
<!--                            <option value="Volume">feature 1</option>-->
<!--                            <option value="Volume (Counting Unit)">feature 2</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                    <div class="eight wide field">-->
<!--                        <select name="PERIOD_select" id="PERIOD_select_0" class="ui fluid search dropdown">-->
<!--                            <option value="MAT" selected>请选择一个特征(可选)</option>-->
<!--                            <option value="QTR">feature 1</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->
            </div>

            <h3 class="ui header" id="assist">辅助维度</h3>
            <div class="field">
                <div class="fields">
                    <div class="sixteen wide field">
                        <select name="DIMENSION_select" id="DIMENSION_select_1" class="ui fluid search dropdown">
                            {% for key, value in mselect_dict.items %}
                                {% if value.select == 'PRODUCT' %}
                                    <option value="{{ value.select }}" selected>{{ key }}</option>
                                {% else %}
                                    <option value="{{ value.select }}">{{ key }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
<!--                <div class="fields">-->
<!--                    <div class="eight wide field">-->
<!--                        <select name="UNIT_select" id="UNIT_select_1" class="ui fluid search dropdown">-->
<!--                            <option value="Value" selected>feature 1</option>-->
<!--                            <option value="Volume">feature 2</option>-->
<!--                            <option value="Volume (Counting Unit)">feature 3</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                    <div class="eight wide field">-->
<!--                        <select name="PERIOD_select" id="PERIOD_select_1" class="ui fluid search dropdown">-->
<!--                            <option value="MAT" selected>feature 1</option>-->
<!--                            <option value="QTR">feature 2</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->
            </div>


<!--            <h3 class="ui header" id="feature">数据筛选</h3>-->
<!--            <div class="ui fluid multiple search selection dropdown">-->
<!--                <input type="hidden" name="featurename">-->
<!--                <i class="dropdown icon"></i>-->
<!--                <div class="default text">feature selection</div>-->
<!--                <div class="menu", name="select_feature">-->
<!--                    {% for key,value in mselect_dict.items %}-->
<!--                    <div class="item">{{key}}</div>-->
<!--                    {% endfor %}-->
<!--                </div>-->
<!--            </div>-->

            <div class="ui buttons">
                <input class="ui blue button" type='button' id='AJAX_get' value="查询"/>
            </div>
        </form>
    </div>
</div>

<!-- 因为用到Semantic UI的Search Dropdown控件，必须有下面语句初始化 -->
<script>
    $('.ui.fluid.search.dropdown')
        .dropdown({ fullTextSearch: true });
</script>

<script type="text/javascript">
    $("#AJAX_get").click(function (event) {
        event.preventDefault();
        var form_data = {
            "DIMENSION_select_0": $("DIMENSION_select_0").val(),
            "DIMENSION_select_1": $("DIMENSION_select_1").val(),
        },

        $.ajax({
            url: '{% url 'visual:query' %}',
            type: 'GET',
            data: form_data,
            success: function (ret) {
                console.log('success')
            },
            error: function () {
                console.log('失败')
            }
        });
    })
</script>