<div class="ui container">
    <div class="ui form">
        <form action="" method="post">
            {% csrf_token %}
            <div class="ui buttons">
                <input class="ui blue button" type='button' id='show_data' value="数据展示"/>
            </div>
        </form>
        <div class="ui divider"></div>
        <div action="" method="post">
            <!-- 在Django所有的 POST 表单元素时，需要加上下方的csrf_token tag，主要是安全方面的机制，本例后续使用AJAX方法，这里的POST class和token都不生效 -->
            {% csrf_token %}
            <h3 class="ui header" id="analysis">分析维度</h3>
            <div class="field">
                <div class="fields"></div>
                <div class="fields">

                    <div class="fifteen wide field">
                        <select name="Feature1" id="Feature1" class="ui fluid search dropdown">
                            {% for key, value in mselect_dict.items %}
                                {% if value.select == 'Group' %}
                                    <option value="{{ value.select }}" selected>{{ key }}</option>
                                {% else %}
                                    <option value="{{ value.select }}">{{ key }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="fields"></div>
                <div class="fields">
                    <div class="fifteen wide field">
                        <select name="Feature2" id="Feature2" class="ui fluid search dropdown">
                            {% for key, value in mselect_dict.items %}
                                {% if value.select == 'hddsn' %}
                                    <option value="{{ value.select }}" selected>{{ key }}</option>
                                {% else %}
                                    <option value="{{ value.select }}">{{ key }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <!-- ui floating dropdown labeled search icon button -->
            <h3 class="ui header" id="asistance">辅助维度</h3>
            <div class="field">
                <div class="fields"></div>
                <div class="fields">
                    <div class="fifteen wide field">
                        <select name="Feature_opt" id="Feature_opt" class="ui fluid multiple search dropdown">
                            <!-- 默认hidden显示为Feature Selection -->
                            <option value="">Feature Selection</option>
                            {% for key, value in mselect_dict.items %}
                                <option value="{{ value.select }}">{{ key }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="ui blue animated button" tabindex="0" id='AJAX_get'>
                <div class="visible content">维度选择</div>
                <div class="hidden content">确认</div>
            </div>
        </div>
        <div class="fields"></div>
        <div class="row">
            <form name="process_form" action="/visual/get_process_name" method="post" style="height:438px;">
                {% csrf_token %}
                <div class="field">
                    <div class="fields">
                        <div class="fifteen wide field">
                            <h3 class="ui header" id="choose1">Process</h3>
                            <select id="independent" name="independent">
                                <option value="" disabled selected hidden>{{independent}}</option>
                                <option value="YC"> YC </option>
                                <option value="Magnetic"> Magnetic </option>
                                <option value="Reader HI"> Reader HI </option>
                                <option value="PE"> PE </option>
                                <option value="XTI"> XTI </option>
                                <option value="XTI Degradation"> XTI Degradation </option>
                                <option value="Writer instability"> Writer instability </option>
                                <option value="Writer degradation"> Writer degradation </option>
                                <option value="Write-short"> Write-short </option>
                            </select>
                            <h3 class="ui header" id="choose2">Parameter</h3>
                            <div class="fields"></div>
                            <select id="dependent" name="dependent">
                                <option value="">{{parameter}}</option>
                                <option value="Yield"> Yield </option>
                                <option value="EC"> EC </option>
                                <option value="ACC"> ACC </option>
                                <option value="MCW"> MCW </option>
                                <option value="Roller SER"> Roller SER </option>
                                <option value="1k-BEM(Rd)NT"> 1k-BEM(Rd)NT </option>
                                <option value="1k-BEM(Rd)HT"> 1k-BEM(Rd)HT </option>
                                <option value="Bi-state XTI Profile (writer induced HI)"> Bi-state XTI Profile (writer induced HI) </option>
                                <option value="172c"> 172c </option>
                                <option value="PE NT (Degauss on)"> PE NT (Degauss on) </option>
                                <option value="PE HT (Degauss off/on)"> PE HT (Degauss off/on) </option>
                                <option value="XTI NT"> XTI NT </option>
                                <option value="XTI HT"> XTI HT </option>
                                <option value="Delta XTI"> Delta XTI </option>
                                <option value="Delta OWC"> Delta OWC </option>
                                <option value="1K-BEM (WrRd) HT"> 1K-BEM (WrRd) HT </option>
                                <option value="RV_Range"> RV_Range </option>
                                <option value="B_Allband"> B_Allband </option>
                                <option value="Delta MCW"> Delta MCW </option>
                                <option value="Delta SER"> Delta SER </option>
                                <option value="Delta OW"> Delta OW </option>
                                <option value="UEC (S5W, Func, SRST, Fin & Featuring)"> UEC (S5W, Func, SRST, Fin & Featuring) </option>
                            </select>
                            <h3 class="ui header" id="choose3">By</h3>
                            <div class="fields"></div>
                            <select id="by" name="by">
                                <option value="" disabled selected hidden>{{by}}</option>
                                <option value="Date">Date</option>
                                <option value="WAFERNUM">Wafer</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" style="text-align: center;margin-top: 30px;">
                    <button class="ui positive basic button">画图</button>
                </div>
            </form>
<!--            <div class="row" style="text-align: center;">-->
<!--                <a href="/visual/index">-->
<!--                    <button class="ui secondary basic button">重现选择</button>-->
<!--                </a>-->
<!--            </div>-->
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#AJAX_get_1").click(function (event){
        event.preventDefault();
<!--        alert('所选维度为 :'+ $("#process_choose").val());-->
        var form_data = {
            "process_choose": $("#process_choose").val(),

        };
        $.ajax({
            url: '{% url 'visual:query1' %}',
            type: 'GET',
            data: form_data,
            success: function(ret) {
                $("#process_choose").html(ret['process_choose'])
            },
            error: function() {
                console.log('failure')
            }
        });
    })
</script>
<script type="text/javascript">
    $("#show_data").click(function (event){
        event.preventDefault();
        $.ajax({
            url: '{% url 'visual:showdata' %}',
            type: 'GET',
            success: function(ret) {
                $("#alldata").html(ret['alldata'])
            },
            error: function() {
                console.log('failure')
            }
        });
    })
</script>
<script type="text/javascript">
    $("#AJAX_get").click(function (event) {
        event.preventDefault();
        alert('所选维度为: ' + $("#Feature1").val() + ' 和 ' + $("#Feature2").val() +
                    '\n' + '所选辅助维度为: ' + $("#Feature_opt").val());
        var dimmer = $("#dimmer");
        dimmer.attr('class', 'ui active dimmer'); // 点击筛选按钮后dimmer变成active
        dimmer.children('div').remove(); // 删除初始化文字
        dimmer.append('<div class="ui text loader">数据加载中……</div>'); // 增加loading效果和文字
        var form_data = {
            "Feature1": $("#Feature1").val(),
            "Feature2": $("#Feature2").val(),
            "Feature_opt": $("#Feature_opt").val(),
        };
        $.ajax({
            url: '{% url 'visual:query' %}',
            type: 'GET',
            data: form_data,
            success: function(ret) {
                if (ret["df_mean"] == 'N/A'){
                    alert('Warning! Selected feature is not numeric!' +
                    '\n' + '警告！所选维度为非数值型，无法计算mean等参数');
                    chart.showLoading({
                      text : '数据类型错误'
                    });
                }
                // 去除加载遮罩（去掉active）
                dimmer.attr('class', 'ui dimmer');
                $("#df_mean").html(ret["df_mean"]);
                $("#df_std").html(ret["df_std"]);
                $("#df_median").html(ret["df_median"]);
                $("#data").html(ret['data']);
                $("#data_").html(ret['data_']);
            },
            error: function() {
                console.log('failure')
            }
        });
    })
</script>





<!-- 因为用到Semantic UI的Search Dropdown控件，必须有下面语句初始化 -->
<script>
    $('.ui.fluid.search.dropdown')
        .dropdown({ fullTextSearch: true });
</script>
<script>


    $(document).ready(function() {
      $("#dependent > option").hide();
      $(document).on('change', '#independent', function() {
        var independent_val = $(this).val();
        $("#dependent > option").hide();
        let option_list = ['YC', 'Magnetic', 'Reader HI', 'PE', 'XTI', 'XTI Degradation', 'Writer instability', 'Writer degradation', 'Write-short'];
        let D_MULTI_SELECT = {
            'YC': ['Yield', 'EC'],
            'Magnetic': ['ACC', 'MCW', 'Roller SER'],
            'Reader HI': ['1k-BEM(Rd)NT', '1k-BEM(Rd)HT', 'Bi-state XTI Profile (writer induced HI)', '172c'],
            'PE': ['PE NT (Degauss on)', 'PE HT (Degauss off/on)'],
            'XTI': ['XTI NT', 'XTI HT'],
            'XTI Degradation': ['Delta XTI', 'Delta OWC'],
            'Writer instability': ['1K-BEM (WrRd) HT', 'RV_Range', 'B_Allband'],
            'Writer degradation': ['Delta MCW', 'Delta SER', 'Delta OW'],
            'Write-short': ['UEC (S5W, Func, SRST, Fin & Featuring)'],
        };
        for (var option in option_list) {
            var op_val = option_list[option];
            if (independent_val == op_val) {
              $("#dependent > option").each(function() {
                var dependent_val = $(this).val();
                if (D_MULTI_SELECT[op_val].includes(dependent_val))
                  $(this).show();
              });
            }
        }
      });
    });
</script>

