<script>
        var chart_99a836f9aa334c3c9d17ece204c599b1 = echarts.init(
            document.getElementById('99a836f9aa334c3c9d17ece204c599b1'), 'white', {renderer: 'canvas'});
        var option_99a836f9aa334c3c9d17ece204c599b1 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#d14a61",
        "#d14a61",
        "#d14a61",
        "#d14a61",
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "Nor_OWc",
            "connectNulls": false,
            "yAxisIndex": 0,
            "symbolSize": 12,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "01/02/2022",
                    102.6
                ],
                [
                    "01/03/2022",
                    102.32
                ],
                [
                    "01/04/2022",
                    102.08
                ],
                [
                    "01/05/2022",
                    102.65
                ],
                [
                    "01/06/2022",
                    102.35
                ],
                [
                    "01/07/2022",
                    102.68
                ],
                [
                    "01/08/2022",
                    102.94
                ],
                [
                    "01/09/2022",
                    102.93
                ],
                [
                    "01/10/2022",
                    102.77
                ],
                [
                    "01/11/2022",
                    102.61
                ],
                [
                    "01/12/2022",
                    103.05
                ],
                [
                    "01/13/2022",
                    103.08
                ],
                [
                    "01/14/2022",
                    102.76
                ],
                [
                    "01/15/2022",
                    102.86
                ],
                [
                    "01/16/2022",
                    102.54
                ],
                [
                    "01/17/2022",
                    102.32
                ],
                [
                    "01/18/2022",
                    102.07
                ],
                [
                    "01/19/2022",
                    102.1
                ],
                [
                    "01/20/2022",
                    101.99
                ],
                [
                    "01/21/2022",
                    102.1
                ],
                [
                    "01/22/2022",
                    102.14
                ],
                [
                    "01/23/2022",
                    102.42
                ],
                [
                    "01/24/2022",
                    102.22
                ],
                [
                    "01/25/2022",
                    102.39
                ],
                [
                    "01/26/2022",
                    102.58
                ],
                [
                    "01/27/2022",
                    102.44
                ],
                [
                    "01/28/2022",
                    102.42
                ],
                [
                    "01/29/2022",
                    102.32
                ],
                [
                    "01/30/2022",
                    102.38
                ],
                [
                    "01/31/2022",
                    102.77
                ],
                [
                    "02/01/2022",
                    103.03
                ],
                [
                    "02/02/2022",
                    102.75
                ],
                [
                    "02/03/2022",
                    102.78
                ],
                [
                    "02/04/2022",
                    103.11
                ],
                [
                    "02/05/2022",
                    103.13
                ],
                [
                    "02/06/2022",
                    102.7
                ],
                [
                    "02/08/2022",
                    "-"
                ],
                [
                    "02/09/2022",
                    "-"
                ],
                [
                    "02/10/2022",
                    103.09
                ],
                [
                    "02/11/2022",
                    103.17
                ],
                [
                    "02/12/2022",
                    102.73
                ],
                [
                    "02/13/2022",
                    102.73
                ],
                [
                    "02/14/2022",
                    103.09
                ],
                [
                    "02/15/2022",
                    103.27
                ],
                [
                    "02/16/2022",
                    103.03
                ],
                [
                    "02/17/2022",
                    102.37
                ],
                [
                    "02/18/2022",
                    101.96
                ],
                [
                    "02/19/2022",
                    "-"
                ],
                [
                    "02/20/2022",
                    101.74
                ],
                [
                    "02/21/2022",
                    101.62
                ],
                [
                    "02/22/2022",
                    101.74
                ],
                [
                    "02/23/2022",
                    101.78
                ],
                [
                    "02/24/2022",
                    101.65
                ],
                [
                    "02/25/2022",
                    101.91
                ],
                [
                    "02/26/2022",
                    101.65
                ],
                [
                    "02/27/2022",
                    101.82
                ],
                [
                    "02/28/2022",
                    101.48
                ],
                [
                    "03/01/2022",
                    101.62
                ],
                [
                    "03/02/2022",
                    102.02
                ],
                [
                    "03/03/2022",
                    102.22
                ],
                [
                    "03/04/2022",
                    102.02
                ],
                [
                    "03/05/2022",
                    101.86
                ],
                [
                    "03/06/2022",
                    102.04
                ],
                [
                    "03/07/2022",
                    101.83
                ],
                [
                    "03/08/2022",
                    102.01
                ],
                [
                    "03/09/2022",
                    102.2
                ],
                [
                    "03/10/2022",
                    102.39
                ],
                [
                    "03/11/2022",
                    102.39
                ],
                [
                    "03/12/2022",
                    102.59
                ],
                [
                    "03/13/2022",
                    102.42
                ],
                [
                    "03/14/2022",
                    102.49
                ],
                [
                    "03/15/2022",
                    102.62
                ],
                [
                    "03/16/2022",
                    102.48
                ],
                [
                    "03/17/2022",
                    102.39
                ],
                [
                    "03/18/2022",
                    102.29
                ],
                [
                    "03/19/2022",
                    102.39
                ],
                [
                    "03/20/2022",
                    102.43
                ],
                [
                    "03/21/2022",
                    102.44
                ],
                [
                    "03/22/2022",
                    102.4
                ],
                [
                    "03/23/2022",
                    102.52
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 3,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "itemStyle": {
                "color": "steelblue",
                "borderWidth": 2
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",…</script>