<div class="ui inverted menu">
<!-- <div class="ui pointing menu"> -->
    <div class="ui container">
        <a class="red item" data-tab="HomePage" href={% url 'visual:alert' %} >&nbsp;&nbsp;&nbsp;&nbsp;警报信息 AlertPage&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a class="orange item" data-tab="Algorithm" href={% url 'visual:overview' %} >&nbsp;&nbsp;&nbsp;&nbsp;数据总览 Overview&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </div>
</div>

<!-- <div class="ui pointing secondary menu">
    <a class="item" data-tab="Plot"><i class="circle icon"></i>Plot</a>
    <a class="item active" data-tab="Summary"><i class="circle icon"></i>Summary</a>
    <a class="item" data-tab="Analysis"><i class="circle icon"></i>Analysis</a>
</div> -->
